@{
    ViewBag.Title = "About";
}

    
        <section id="sec1_about" class="sectiune">
            <div id="citat">
                <p>
                    “There is no such thing as <b class="black">'away'</b>. When we throw anything away it must go somewhere.”
                    <b class="black"> - Annie Leonard</b>
                </p>
                <!-- <p>     Nu e greu să alegi să cumperi cât mai puține ambalaje de plastic, nu e greu folosești mai puțină hârtie, nu e un efort mare să colectezi selectiv deșeurile și să chemi o firmă de reciclare să ți-l ridice de acasă.</p>-->
            </div>
        </section>
        
        <section id="sec3_about" class="sectiune">
            <h2 class="titluri_sectiuni">GHID DE COLECTARE</h2>
            <div id="ghid_colectare">
                <div id="deseuri_about">
                    <div id="img_ghid">
                        <img src="~/Icon/PlasticM.png" alt="Cos" width="200" height="250">
                    </div>
                    <h3 id="titlu_ghid">Categoria Plastic</h3>
                    <p>Deșeurile care se încadrează în categoria plastic trebuie reciclate în containerul <b id="g">GALBEN</b>.</p>
                    <p><b id="v">!</b> Recipientele colectate aici trebuie să fie clătite, golite de lichide, fară capac și presate pentru a câștiga spațiu.</p>
                    <p>În contatnerul galben trebuie colectate:</p>
                    <ul>
                        <li>Recipiente de plastic pentru băuturi și produse lactate (PET-URI)</li>
                        <li>Recipiente de produse cosmetice și detergenți</li>
                        <li>Caserole, farfurii și pungi de plastic</li>
                        <li>Ambalaje TetraPack pentru sucuri și lactate.</li>
                    </ul>
                    <p><b id="r">X</b> NU trebuie colectate aici: produse care au in componența și altceva pe lângă plastic, polictiren, cutii bidoane, cu resturi de vopsea, deșeuri medicale(seringi folosite).</p>
                </div>
                <div id="deseuri_about">
                    <div id="img_ghid">
                        <img src="~/Icon/HartieM.png" alt="Cos" width="200" height="250">
                    </div>
                    <h3 id="titlu_ghid">Categoria Hârtie și Carton</h3>
                    <p>Deșeurile care se încadrează în categoria plastic trebuie reciclate în containerul <b id="a">ALBASTRU</b></p>
                    <p><b id="v">!</b> Hârtiile și Cartoanele colectate trebuie să fie pliate sau îndoite, pentru a câștiga spațiu.</p>
                    <p>În contatnerul albastru trebuie colectate:</p>
                    <ul>
                        <li>Pungi de hârtie</li>
                        <li>Cutii de carton</li>
                        <li>Cărți, caiete, reviste</li>
                        <li>Ziare, flyere, cărți poștale</li>
                        <li>Cofraje de ouă și cutii de pizza curate</li>
                    </ul>
                    <p><b id="r">X</b> NU trebuie colectate aici: Hârtie și carton care conțin reziduuri de mâncare, șervețele și hârtie de bucătărie folosite, hârtie cerată sau înfoliată.</p>
                </div>
                <div id="deseuri_about">
                    <div id="img_ghid">
                        <img src="~/Icon/SticlaM.png" alt="Cos" width="200" height="250">
                    </div>
                    <h3 id="titlu_ghid">Categoria Sticlă</h3>
                    <p>Deșeurile care se încadrează în categoria sticlă trebuie reciclate în containerul <b id="v">VERDE</b></p>
                    <p><b id="v">!</b> Recipientele colectate aici trebuie să fie clătite, golite de lichide și fară capac.</p>
                    <p>În contatnerul verde trebuie colectate:</p>
                    <ul>
                        <li>Borcane fără capac, damigene de sticlă</li>
                        <li>Sticle fără capac</li>
                        <li>Ambalaje din sticlă de la produse cosmetice</li>
                    </ul>
                    <p><b id="r">X</b> NU trebuie colectate aici: Oglinzi, geamuri, produse din porțelan, ceramică vase rezistente la căldură.</p>
                </div>
                <div id="deseuri_about">
                    <div id="img_ghid">
                        <img src="~/Icon/MetalM.png" alt="Cos" width="200" height="250">
                    </div>
                    <h3 id="titlu_ghid">Categoria Metal</h3>
                    <p>Deșeurile care se încadrează în categoria metal trebuie reciclate în containerul <b id="r">ROSU</b></p>
                    <p><b id="v">!</b> Recipientele colectate aici trebuie să fie clătite, golite de lichide.</p>
                    <p>În contatnerul roșu trebuie colectate:</p>
                    <ul>
                        <li>Doze de aluminiu</li>
                        <li>Dopiri metalice</li>
                        <li>Conserve de metal</li>
                        <li>Spray-uri alimentare și cosmetice</li>
                    </ul>
                    <p><b id="r">X</b> NU trebuie colectate aici: butoaie cu resturi de vopsea, diluații sau alte substanțe chimice periculoase.</p>
                </div>
            </div>
        </section>
        
        <section id="sec2_about" class="sectiune">
            <h2 class="titluri_sectiuni">CURIOZITĂȚI DESPRE RECICLARE</h2>
            <div id="curiozitati">
                <h4><b>Reciclarea este foarte importantă. Știai despre următoarele efecte ale reciclării:</b></h4>
                <ul id="lista_curiozitati">
                    <li>O tonă de hârtie reciclată salvează de la tăiere 15 arbori maturi?</li>
                    <li>Pentru obţinerea hârtiei din fibre reciclate se foloseşte cu 70% mai puţină energie decât pentru cea din fibre naturale?</li>
                    <li>O tonă de hârtie reciclată economiseşte: 2,5 barili de petrol; 4132 KwH (suficient pentru a încălzi o locuinţă timp de 6 luni), 497,88 litri de apă?</li>
                    <li>Descompunerea naturală a plasticului sau a aluminiului în mediul inconjurator necesită peste 500 de ani?</li>
                    <li>Reciclând o sticlă de plastic se economiseşte suficientă energie pentru ca un bec de 60W să funcţioneze timp de 6 ore?</li>
                    <li>PET-ul reciclat poate fi folosit pentru a fabrica noi produse: covoare, mochete, material pentru tricouri, încălţăminte, pulovere şi jachete, genţi, umplutură pentru haine de iarnă sau saci de dormit şi chiar jucării.</li>
                    <li>Reciclând o tonă de sticle de PET se economisesc aproape 7m3 spaţiu de depozitare în gropile de gunoi.</li>
                    <li>Dozele de aluminiu (folosite pentru îmbutelierea sucurilor, berii) pot fi reciclate la infinit, deoarece aluminiul poate fi topit și refolosit de nenumărate ori?</li>
                    <li>O tonă de aluminiu reciclată economisește: 4 tone de bauxită, 9 tone de emisii CO2, 95% din energia necesară producerii aluminiului din materii prime?</li>
                </ul>
            </div>
        </section>