@{
    ViewBag.Title = "Home Page";
}
<script ></script>
<div class="jumbotron" id="div_jumbtron">
    <h1>Bun venit pe aplicația GreenCollector!</h1>
    <p class="lead">Prin intermediul acestei aplicații putem începe să fim mai responsabili și cu un mic efort colectiv, să ne comportăm așa cum se cuvine cu mediul înconjurător.</p>
   @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Cum poți avea acces la aplicație?</h2>
        <p>
            Nimic mai simplu. Dacă locuiești în orașul Baia Mare, la casă, și ai un contract încheiat cu firma de salubrizare DRUSAL.SA, trebuie doar să ne înștiințezi că dorești să 
            utilizezi aplicația, iar noi îti vom trimite un cod de înregistrare unic, cu ajutorul căruia vei putea să îți creezi un cont pe această aplicație.
            Utilizarea acestui serviciu nu presupune nici un cost suplimentar adaugat facturii de salubrizare. Este doar o modalitate prin care prin implicarea dumneavoastra,
            vom putea eficientiza capacitatea noastră de sortare selectivă.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2>Ce trebuie să faci pentru a colecta selectiv alături de noi?</h2>
        <p>1. Trebuie să sortați deșeurile într-un mod selectiv, pe categorii.</p>
        <p>2. Categoriile de deșeuri pe care le vom trata separat sunt: Hârtie și Carton, Metal, Plastic, Sticla.</p>
        <p>3. Saptamânal, sau când acumulați o cantitate mai mare, dintr-o anumita categorie trebuie să plasati un anunț.</p>
        <p>4. Anunțul se completează în secțiunea "Plasează anunț".</p>
        <p>5. Colectarea se efectuează saptămanal în fiecare vineri.</p>
        <p>6. Exact ca și până acum tu va trebui, doar să depozitezi în ziua de colectare deșeurile pe categorii, în fața casei, iar noi vom veni să le colectăm.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    
</div>