
@{
    ViewBag.Title = "RegisterError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="registerError">
        <h2 >Ooops...</h2>
        <p>Se pare că datele introduse pentru a vă crea contul nu sunt corecte. </p>
        <h3>Sfaturi: </h3>
        <p>Asigurați-vă că email-ul folosit este același cu cel pe care l-ați oferit când ați solicitat accesul pe aplicație. </p>
        <p>Asigurați-vă că ați introdus corect codul unic primit în urma solicitării accesului.</p>
    </div>

