@model Green_Collector.Models.IndexViewModel
@{
    ViewBag.Title = "Gestiune Cont";
}

<h2 class="titlu_alb">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div id="gestiune">
    <h4>Modifică setările contului</h4>
    <hr />
    
    <dl class="dl-horizontal">
        <dt>Parolă:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Schimbă Parola", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
 
    </dl>
</div>
